.Rocket-Container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.Rocket-Img {
  width: 200px;
  height: 150px;
}

.Rocket-Info {
  padding: 0 30px;
}

.Rocket-Title {
  margin-bottom: 10px;
}

.Rocket-Text {
  margin-bottom: 10px;
}

.Rocket-Reserve {
  background-color: rgb(60, 60, 255);
  color: white;
  padding: 2px;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
}

.Rocket-Button {
  background-color: rgb(60, 60, 255);
  color: white;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.Rocket-Button-Cancel {
  background-color: white;
  color: rgb(60, 60, 255);
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
